.cart-items{
    margin-top: 35px;
    .aem-Grid {
        max-width: 1140px !important;
        margin: 0 auto;
    }
}

.cart-heading{
    font-size: 48px;
    text-align: center;
    margin-bottom: 5%;
    span{
        border-bottom: 10px solid #1F39FF;
        padding-bottom: 10px;
    }
}

.cart-title{
    margin-top: 0px;
}

.cart-img{
    border: 1px solid #ddd;
    padding: 10px;
    img{
        width: 100%;
    }
}


.cart-editable-items{
    ul{
        li{
            margin-bottom: 10px;
            img{
                margin-right: 10px;
                width:15px;
            }
        }
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    .cart-heading{
        font-size: 34px;
    }
    .product-cart-section{
        input{
            width: 60%;
        }
    }
}