
.max-width_header{
    padding: 10px 14px;
    border-bottom: 1px solid #eee;
}

ul{
    list-style-type: none;
}

.navigation{
    margin-top: 15px;

    .navbar{
        display: table !important;
        margin: 0 auto;
    }
}


.navbar li{
    float: left;
    width: 100px;
}

.venia-logo{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 36px;

    img{
        width: 100%;
    }
}

.header-socials{
    margin-top: 15px;
    padding-top: 15px !important;
}
.search-btn{
    float: left;
    margin-right: 25px;
    img{  
        width: 25px;
        padding-right: 10px;
        vertical-align: bottom;
    }
}

.signin-btn{
    float: left;
    margin-right: 25px;
    img{
        width:25px;
        padding-right: 10px;
        vertical-align: bottom;
    }
}

.cart-btn{
    float: left;
    margin-right: 25px;
    a{
        text-decoration: none;
        img{
            width:25px;
            vertical-align: bottom;
            margin-right: -10px;
        }
        span{
            font-size: 11px;
            background-color: red;
            color: #fff;
            padding: 5px 10px;
            margin-top: -10px !important;
            border-radius: 30px;
            position: absolute;
        }
    }

}